@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: 0;
}


:root {
    /* CORES */
    --cor-azul-escuro: #012247;
    --cor-roxa: #7289da;
    --cor-branca: #FFFFFF;
    --cor-cinza: #D3D3D3;
    --cor-preto-claro: #3b3b3b;
    --cor-destaques: #50E3C2;

    /* FONTS */
    --font-principal: "Lato", sans-serif;
    --font-titulo: "Montserrat", sans-serif;
    --font-btn: "Poppins", sans-seri;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#7289da, #012247);
    font-family: var(--font-principal);
}

.card-clima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    background-color: var(--cor-branca);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    padding: 15px 10px 10px 10px;
    transition: width 1s;
}

.clima {
    display: none;
}

.temp {
    display: flex;
    align-items: center;
}

.icon-location, .icon-search {
    color: var(--cor-preto-claro);
}

#pesquisa {
    padding: 5px;
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
}

.pesquisa_cidade {
    width: 85%;
    padding: 5px;
    font-family: var(--font-btn);
    font-size: 16px;
}

.btn-pesquisar {
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.btn-pesquisar i {
    font-size: 16px;
}

.nome_cidade {
    font-family: var(--font-titulo);
    color: var(--cor-preto-claro);
    margin: 30px 0 10px 0;
}

.temp {
    justify-content: space-around;
    background-image: linear-gradient(90deg, var(--cor-roxa), #4465db);
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.contain_valor_graus {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--cor-branca);
}

.valor_graus {
    font-size: 35px;
    font-weight: bold;
    font-family: var(--font-btn);
}

.valor_graus sup {
    font-size: 30px;
}

.descricao_temp {
    font-size: 18px;
    padding-bottom: 12px;
    font-family: var(--font-titulo);
}

.card_mini {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0 0 0;
    font-family: var(--font-btn);
    width: 100%;
}

.icon {
    font-size: 18px;
}

.icon_temp_max {
    color: #ff3d3d;
}

.icon_temp_min {
    color: #0099ff;
}

.icon-vendo {
    color: var(--cor-cinza);
}

.icon-humidade{
    color: #013b7c;
}

.card_mini_esquerda, .card_mini_direita {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000021;
}

.contain_temp_max div, .contain_temp_min div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (min-width: 500px) {
    .card-clima {
        width: 350px;
    }
}
